<!DOCTYPE html>
<html lang="en">

<%= javascript_pack_tag 'owl'%>
<body>
    <header class="head_sec">
        <div class="container-fluid">
            <div class="inn_main_head">
                <button class="hamburger hamburger--minus" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <a href="/" title="Home" rel="home" id="logo" class="navbar-brand">
                    Addicting Games
                </a>
                <div class="search_box hidden-md">
                    <div class="inn_search_box">
                        <form action="/search" accept-charset="UTF-8" method="GET" id="search-block-form">
                            <div class="form-item form-type-textfield form-item-search-block-form">
                                <label for="edit-search-block-form--2" class="element-invisible">Search</label>
                                <input type="text" placeholder="Nhập Tên Game Cần Tìm" id="edit-search-block-form--2" name="namesearch" size="15" maxlength="128" class=" form-autocomplete ui-autocomplete-processed ui-autocomplete-input" data-sa-theme="basic-green">
                                <span role="status" class="ui-helper-hidden-accessible"></span>
                                <ul style="display: none;" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all">
                                </ul>
                            </div>
                            <div class="form-actions form-wrapper" id="edit-actions">
                                <input type="hidden" id="edit-submit" name="mincoin" value="0" class="form-submit">
                                <input type="hidden" id="edit-submit" name="maxcoin" value="0" class="form-submit">
                                <input type="submit" id="edit-submit" value class="form-submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="account-trigger"></div>
                <div class="rt_buttins region region-menu-bar">
                    <a title="Toggle Menu" class="menu-toggle">
                        <span class="lines">
                            <span class="line first-line first">
                                <span class="line first-line first">
                                </span>
                                <span class="line"></span>
                                <span class="line last-line last"></span>
                            </span>
                        </span>
                        <span class="toggle-help">
                            Header main menu
                        </span>
                    </a>
                    <ul id="menu-header-main-menu" class="menu-header-main-menu responsive-menu links">
                        <li class="menu-item menu-item-primary first">
                            <a href="javascript:void(0)" title="Games">
                                Games
                            </a>
                        </li>
                        <li class="menu-item menu-item-primary">
                            <a href="javascript:void(0)" title="Hot">
                                Hot
                            </a>
                        </li>
                        <li class="menu-item menu-item-primary">
                            <a href="javascript:void(0)">
                                Multiplayer
                            </a>
                        </li>
                        <li class="menu-item menu-item-primary">
                            <a href="javascript:void(0)">
                                Game Pass
                            </a>
                        </li>
                        <li class="menu-item menu-item-primary">
                            <div id="cd-cart_trigger">
                                <a class="cd-img-replace" href="javascript:void(0)">Cart</a>
                            </div>
                        </li>
                        <% if session[:user_id] %>
                        <li class='menu-item menu-item-primary'>
                            <a href="user/<%= session[:user_id] %>">
                                Tài Khoản
                            </a>
                        </li>
                        <li class='menu-item menu-item-primary'>
                            <a href="">
                                <%= link_to "Đăng Xuất", logout_path, method: :delete %> 
                            </a>
                        </li>
                        <% else %>
                        <li class='menu-item menu-item-primary'>
                        <a href="">
                            <%= link_to 'Đăng Ký' , register_url%>
                        </a>
                        </li>
                        <li class='menu-item menu-item-primary'>
                        <a href="">
                            <%= link_to 'Đăng Nhập' , login_url%>
                        </a>
                        </li>
                        <% end %>
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="top_panel_sec region region-header">
        <div class="container-fluid">
            <div class="mobile-menu animate__animated" style="display: none;">
                <div class="search">
                    <div class="searh_bx">
                        <form autocomplete="off" action="/all-games" method="post" id="search-block-form--2" accept-charset="UTF-8">
                            <div>
                                <div class="form-item form-type-textfield form-item-search-block-form">
                                    <label class="element-invisible" for="edit-search-block-form--4">Search </label>
                                    <input title="Enter the terms you wish to search for." autocomplele="new-search" placeholder="Search for a game" type="text" id="edit-search-block-form--4" name="search_block_form" value="" size="15" maxlength="128" class="form-text">
                                </div>
                                <div class="form-actions form-wrapper" id="edit-actions--2"><input type="submit" id="edit-submit--2" name="op" value="" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-iAPQUatCxiLbQRMl7t-OgG9HIdv4XFD1ObzyUQxrCN8">
                                <input type="hidden" name="form_id" value="search_block_form">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mobile-menu__tiles">
                    <div class="topgm">
                        <div class="rt_buttins">
                            <ul class="menu">
                                <ul class="menu">
                                    <li class="first leaf games mid-2214"><a href="javascript:void(0)" title="games" class="active">Games</a></li>
                                    <li class="leaf hot mid-2839"><a href="javascript:void(0)" title="">Hot</a></li>
                                    <li class="leaf multiplayer mid-2216"><a href="javascript:void(0)" title="">Multiplayer</a></li>
                                    <li class="leaf game-pass mid-5715"><a href="javascript:void(0)">Game Pass</a></li>
                                    <li class="leaf register mid-2156"><a href="javascript:void(0)">Register</a></li>
                                    <li class="last leaf login mid-2157"><a href="javascript:void(0)" rel="nofollow">Login</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="block-views-tags-block" class="new-carao block block-views block-odd first clearfix">
                <div class="owl-carousel owl-custom owl-theme owl-loaded owl-drag loop-owll">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-4816.625, 0px, 0px); transition: all 0.25s ease 0s; width: 21010px;">
                            <% @danhmucs.each do |danhmuc| %>   
                            <div class="owl-item cloned" style="width: 155.375px; margin-right: 5px;">
                                <a href="/tag/<%= danhmuc.id%>" class="item caro-itm media">
                                    <div class="media-left">
                                        <img typeof="foaf:Image" src="<%= danhmuc.imgdanhmuc %>" width="68" height="60" alt="">
                                    </div>
                                    <div class="media-body">
                                        <%= danhmuc.tendanhmuc %>
                                    </div>
                                </a>
                            </div>
                             <% end %>    
                        </div>
                    </div>
                </div>
                <div class="more-categories hvr-float-shadow">
                    <div class="media-more">
                        <div class="media-left">
                            <div class="more-categories__burger"></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">More</h4>
                            <p>Categories</p>
                        </div>
                    </div>
                    <a href="/all-categories" class="abs_button toggle-menu menu-left push-body jPushMenuBtn"></a>
                </div>
            </div>
        </div>
    </section>
    <div id="cd-cart">
        <% if session[:user_id] %>
        <h2>Cart</h2>
        <ul class="cd-cart-items">
            <div class="load"></div>
        </ul>
        <div class="cd-cart-your-coin">
            <p>Your Coin <span class="coinhave">


            </span></p>
        </div>
        <div class="cd-cart-total" style="border-bottom: 1px solid #e0e6ef;">
            <p>Total <span class="precoin" style="color: red;">


                </span></p>
        </div>
        <div class="cd-cart-coin-minus">
            <p>Coin is return<span class="coinreturn" style="color: red;">


                </span></p>
        </div>
        <a href="javascript:void(0)" class="checkout-btn">Thanh toán</a>
       <% else %>
        <div class="wrap-login100">
            <div style="margin: auto;width: 316px;" class="login100-pic js-tilt" data-tilt>
                <img src="https://whynotaddicting.000webhostapp.com/image/img-01.png" alt="IMG" style="max-width: 100%;height:289px">
                <div style="width: 100%;display: flex;flex-direction: column;padding: 20px;">
                    <a href="/login" type="button" class="btn btn-success">Đăng Nhập</a>
                    <a href="/register" style="margin-top: 15px;" type="button" class="btn btn-danger">Đăng Ký</a>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <script>
        $(document).ready(function() {
            var coinreturn = 0
            function loadPreInvoice(username) {
                $.ajax({
                    url: "../loadPreinvoice",
                    method: "get",
                    contentType: "application/json",   
                    data: {
                        username: username
                    },
                    success: function(data) {
                        // alert(JSON.stringify(data))
                        // alert(data.preinvoices[0].idgame)
                        var html = "";
                        for (var k in data.preinvoices) {
                            var idgame = data.preinvoices[k].idgame;
                            var name = data.preinvoices[k].namegame;
                            var coin = data.preinvoices[k].coin;
                            html += '<li>' + name + '<div class="cd-price">' + coin +
                                '</div><a href="javascript:void(0)" data-idgame="' + idgame +
                                '" class="cd-item-remove cd-img-replace">Remove</a></li>';
                        }
                        $('.load').html(html);
                    }
                })
            }

            function loadCoin(username) {
                $.ajax({
                    url: "../loadCoin",
                    method: "get",
                    contentType: "application/json",   
                    data: {
                        username: username
                    },
                    success: function(data) {
                        var totalcoin = 0
                        var mycoin = data.mycoin[0].coinhave
                        for(var k in data.totalcoin) {
                            totalcoin += data.totalcoin[k].coin
                        }
                        $('.coinhave').html(mycoin + " Coin");
                        $('.precoin').html(totalcoin + " Coin");
                        coinreturn = mycoin - totalcoin
                        if (coinreturn >= 0) {
                            $('.coinreturn').html(coinreturn + " Coin");
                            $('.checkout-btn').css('display', "block");
                        } else {
                            $('.coinreturn').html('Không đủ COIN để mua hàng');
                            $('.checkout-btn').css('display', "none");
                        }
                    }
                })
            }

            function removeGameFromCart(username, id) {
                $.ajax({
                    url: "../removeGameFromCart",
                    method: "get",
                    data: {
                        username: username,
                        id: id
                    },
                    success: function(data) {
                        loadPreInvoice(username);
                        loadCoin(username);
                    }
                })
            }

            function buy(username, id,coinreturn) {
                $.ajax({
                    url: "../buy",
                    method: "get",
                    data: {
                        username: username,
                        id: id,
                        coinreturn: coinreturn
                    },
                    success: function(data) {
                    }
                })
            }
            $('#cd-cart_trigger').on('click', function() {
                var username = '<%=session[:user_id]%>';
                loadPreInvoice(username);
                loadCoin(username);
            })
            $(document).on('click', '.cd-item-remove', function() {
                var username = '<%=session[:user_id]%>';
                var idgame = $(this).data("idgame");
                removeGameFromCart(username, idgame);
            });
            $('.checkout-btn').on('click', function() {
                var username = '<%=session[:user_id]%>';
                var dataList = $(".cd-item-remove").map(function() {
                    return $(this).data("idgame");
                }).get();
                var listIDArray = dataList.splice(',');
                for(var k in listIDArray) {
                    removeGameFromCart(username,listIDArray[k])
                    buy(username,listIDArray[k],coinreturn)
                }
                location.reload();
            })
            
        })
    </script>
    <script>
        jQuery(document).ready(function($) {
            //if you change this breakpoint in the style.css file (or _layout.scss if you use SASS), don't forget to update this value as well
            var $L = 1200,
                $menu_navigation = $('#main-nav'),
                $cart_trigger = $('#cd-cart_trigger'),
                $hamburger_icon = $('#cd-hamburger-menu'),
                $lateral_cart = $('#cd-cart'),
                $shadow_layer = $('#cd-shadow-layer');

            //open lateral menu on mobile
            $hamburger_icon.on('click', function(event) {
                alert(123);
                event.preventDefault();
                //close cart panel (if it's open)
                $lateral_cart.removeClass('speed-in');
                toggle_panel_visibility($menu_navigation, $shadow_layer, $('body'));
            });

            //open cart
            $cart_trigger.on('click', function(event) {
                event.preventDefault();
                //close lateral menu (if it's open)
                $menu_navigation.removeClass('speed-in');
                toggle_panel_visibility($lateral_cart, $shadow_layer, $('body'));
            });

            //close lateral cart or lateral menu
            $shadow_layer.on('click', function() {
                $shadow_layer.removeClass('is-visible');
                // firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
                if ($lateral_cart.hasClass('speed-in')) {
                    $lateral_cart.removeClass('speed-in').on(
                        'webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
                        function() {
                            $('body').removeClass('overflow-hidden');
                        });
                    $menu_navigation.removeClass('speed-in');
                } else {
                    $menu_navigation.removeClass('speed-in').on(
                        'webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
                        function() {
                            $('body').removeClass('overflow-hidden');
                        });
                    $lateral_cart.removeClass('speed-in');
                }
            });

            //move #main-navigation inside header on laptop
            //insert #main-navigation after header on mobile
            move_navigation($menu_navigation, $L);
            $(window).on('resize', function() {
                move_navigation($menu_navigation, $L);

                if ($(window).width() >= $L && $menu_navigation.hasClass('speed-in')) {
                    $menu_navigation.removeClass('speed-in');
                    $shadow_layer.removeClass('is-visible');
                    $('body').removeClass('overflow-hidden');
                }

            });
        });

        function toggle_panel_visibility($lateral_panel, $background_layer, $body) {
            if ($lateral_panel.hasClass('speed-in')) {
                // firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
                $lateral_panel.removeClass('speed-in').one(
                    'webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
                    function() {
                        $body.removeClass('overflow-hidden');
                    });
                $background_layer.removeClass('is-visible');

            } else {
                $lateral_panel.addClass('speed-in').one(
                    'webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
                    function() {
                        $body.addClass('overflow-hidden');
                    });
                $background_layer.addClass('is-visible');
            }
        }

        function move_navigation($navigation, $MQ) {
            if ($(window).width() >= $MQ) {
                $navigation.detach();
                $navigation.appendTo('header');
            } else {
                $navigation.detach();
                $navigation.insertAfter('header');
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('.loop-owll').owlCarousel({
                margin: 10,
                loop: true,
                reponsiveClass: true,
                dots: false,
                items: '12',
                autoplay: true,
                autoplayTimeout: 1000,
                autoHeight: true
            })
            $(".hamburger").on('click', function() {
                if ($('.hamburger').hasClass('is-active')) {
                    $('.mobile-menu').removeClass('animate__bounceIn');
                    $('.mobile-menu').addClass('animate__bounceOut');
                    $('.mobile-menu').css('display', 'none');
                } else {
                    $('.mobile-menu').removeClass('animate__bounceOut');
                    $('.mobile-menu').css('display', 'block');
                    $('.mobile-menu').addClass('animate__bounceIn');
                    $('.moblie-menu').removeClass('is-active');
                }
            });
            var forEach = function(t, o, r) {
                if ("[object Object]" === Object.prototype.toString.call(t))
                    for (var c in t) Object.prototype.hasOwnProperty.call(t, c) && o.call(r, t[c], c, t);
                else
                    for (var e = 0, l = t.length; l > e; e++) o.call(r, t[e], e, t)
            };

            var hamburgers = document.querySelectorAll(".hamburger");
            if (hamburgers.length > 0) {
                forEach(hamburgers, function(hamburger) {
                    hamburger.addEventListener("click", function() {
                        this.classList.toggle("is-active");
                    }, false);
                });
            }

        });
    </script>
</body>

</html>